* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-text-color: #3A3A3A;
    --secondary-text-color: #6C6C6C;
    --featured-pink: #E02C6D;
    --featured-purple: #0A0826;
}

.header {
    /* border: 2px solid black; */
    width: 90%;
    margin: 0 auto;
}

.navbar {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    color: var(--primary-text-color);
}

.nav-items {
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    list-style: none;
    justify-content: space-evenly;
}

.navbar a {
    color: var(--primary-text-color);
    text-decoration: none;
}