* {
    font-family: "Poppins", sans-serif;
}

/* body{
    border: 2px solid black;
} */

:root {
    --primary-text-color: #3A3A3A;
    --secondary-text-color: #6C6C6C;
    --featured-pink: #E02C6D;
    --featured-purple: #0A0826;
}

.header {
    /* border: 2px solid black; */
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* nav section */

.navbar {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 700;
    padding-right: 50px;
}

.nav-items {
    /* border: 2px solid black; */
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-link {
    list-style: none;
    justify-content: space-evenly;
}

.navbar a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--featured-pink);
}

.icon:hover {
    scale: 1.5;
}

/* banner section */

.banner {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.banner-heading {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 52px;
}

.banner-description {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 16px;
}

.banner-btn {
    background-color: var(--featured-pink);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}

.banner-btn:hover {
    scale: 1.05;
    background-color: #b32358;
    cursor: pointer;
}

/* .banner-image {
    border: 2px solid black;
} */

/* sponsor section */

.sponsor {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 100px;
}

/* .sponsor img{
    border: 2px solid black;
} */


/* product section */

.collection {
    /* border: 2px solid black; */
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.collection-heading {
    text-align: center;
    padding: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product {
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 30px var(--secondary-text-color);
    transition: 0.5s ease;
}

.product:hover {
    scale: 1.05;
    cursor: pointer;
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product p,
.product div,
.product h4 {
    margin: 5px;
}

.product h4 {
    font-size: 28px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.price-tag {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-text-color);
}

.product-description {
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-text-color);
}

.rating {
    /* border: 2px solid black; */
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-star {
    color: orange;
}

/* Responsive design for small devices */

@media screen and (max-width: 576px) {
    .nav-items {
        overflow-x: auto;
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 30px;
    }

    .banner-text {
        text-align: center;
        order: 2;
    }

    .banner-image {
        order: 1;
    }

    .bg-circle {
        width: 100%;
    }
}

/* Responsive design for medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-items {
        overflow-x: auto;
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 30px;
    }

    .banner-text {
        text-align: center;
        order: 2;
    }

    .banner-image {
        order: 1;
    }

    .bg-circle {
        width: 100%;
        margin: 0 auto;
    }
}